
body{
background-color:#141414;
background-size: cover;

}
#headerr {
 
}
#logo{
  
    position: absolute;
    margin: -63px 0px 0px 23px;
    width: 11%;

}
#join{
  margin:-10px 0px 0px 284px ;
  display:flex;
}
.example{
    margin:23px 0px 0px 0px;
}
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;

  width: 80%;
  background: #f1f1f1;
}

form.example button {
      float: left;
    width: 142%;
    padding: 10px;
    background: darkgreen;
    color: white;
    font-size: 17px;
    border: 1px solid darkgreen;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.dropdown-content{
  margin:24px 0px 0px 74px;
}

#sign_out{
  background-color: green;
  padding:0px 0px 0px 0px ;
 
}
nav{
  width: 100%;
  position: fixed;
  top:50px;
  text-align:center;
  display:flex;
  gap:0.3;
  background-image:url("images/black.png");

}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}

.name{
        display: flex;
    margin:17px 0px 0px 172px;
    gap: 11.4px;
}
#namep{
  color:white;
  text-align: center;
   font-size:21px;
   margin:0px 0px 0px 0px ;

}
#imgp{
     width: 33px;
    height: 32px;
}

video{
height: 10%;
margin:-6px 0px 0px -6px;
}
.item1{

    margin: -225px 0px 0px 34px;
    display: flex;
    gap: 16px;
}

.h1-item1{
  margin:358px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  display:inline-block;
}
#popular{
 
    position: absolute;
    margin: -268px 0px 0px 34px;
    font-size: 1.4em;
    line-height: 1.25em;
    vertical-align: bottom;
    color: #e5e5e5;
    font-family:Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    font-weight: 500;
}


    